/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 0px) {
	html, body{
		margin: 0;
		padding: 0;
		font-family: 'Raleway', sans-serif;
        font-weight: 400;
	}

	form {
	    margin-top: 10px;
	}

	.btn {
	    background-color: transparent;
	}

	.addbutton {
	    position: fixed;
	    width: 50px;
	    height: 50px;
	    padding: 10px;
	    background-color: #EEEEEE;
	    border-radius: 50%;
	    bottom: 20px;
	    right: 20px;
	    z-index: 10;
	    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	    font-size: 100%;
	}

	#site-header {
	    background-color: rgba(0, 0, 0, 0.5);
	    color: white;
	    position: absolute;
	    width: 100%;
	    height: 10vh;
	}

	#site-nav {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        margin: auto;
        padding: auto;
	}

	#site-nav > *{
	    color: white;
	}

	#prof-photo {
	    width: 50px;
	    height: 50px;
	    border-radius: 50%;
	}

	#login-page {
	    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/SBChairs.jpg');
	    background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	    height: 100vh;
	    width: 100vw;
	}

	#login-form {
	    height: 70vh;
	    width: 90vw;
        position: absolute;
        left: 5vw;
        right: 5vw;
        top: 15vh;
        bottom: 15vh;
        font-size: 25px;
	}

	#login-form .tab-content {
        color : white;
        background-color: rgba(0, 0, 0, 0.6);
        padding : 5px 15px;
    }

    #login-form .nav-pills > li {
        margin: 0px;
        width: 50%;
    }

    #login-form .nav-pills > .active > a{
        background-color: rgba(0, 0, 0, 0.8);
    }

    #login-form .nav-pills > li > a {
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
    }


    /*Home page*/
    #rest-cards {
        padding-top: 10vh;
        padding-left: 4vw;
        padding-right: 4vw;

    }

    .card {
      padding-top: 20px;
      margin: 4vh 2vw 1vh 2vw;
      background-color: #ffffff;
      border: 1px solid #d8d8d8;
      border-top-width: 0;
      border-bottom-width: 2px;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }


    .card.hovercard {
      position: relative;
      width: 89vw;
      padding-top: 0;
      overflow: hidden;
      text-align: center;
      background-color: #fff;
      padding: 0;
    }

    .card.hovercard img {
      width: 100%;
      height: 200px;
    }

    .card.hovercard .avatar {
      position: relative;
      top: -40px;
      margin-bottom: -40px;
    }

    .card.hovercard .avatar img {
      width: 80px;
      height: 80px;
      max-width: 80px;
      max-height: 80px;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
    }

    .card.hovercard .info {
      padding: 4px 8px 10px;
    }

    .card.hovercard .info .title {
      margin-bottom: 4px;
      font-size: 100%;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
    }

    .card.hovercard .info .desc {
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
      padding: 0 20px;
      margin-bottom: 17px;
    }

    .card.people .card-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      line-height: 29px;
      text-align: center;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #login-form {
        width: 60vw;
    }

    /*Home page*/
    .card.hovercard {
        width: 41vw;
     }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /*Home page*/
    .card.hovercard {
        width: 26vw;
     }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #login-form {
        width: 50vw;
    }
}