<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Restaurant</title>
</head>
<body>
    <form id="deleterestaurant" action="{{url_for('delete_restaurant', restaurant_id=restaurant_id)}}" method="post">
        <label>Are you sure you want to delete {{restaurant_name}}?</label>
        <input type="submit" name="todeleterestaurant" for="deleterestaurant" value="Yes">
        <input type="subnit" name="todeleterestaurant" for="deleterestaurant" value="No">
    </form>
</body>
</html>