{% extends "base.html" %}
{% block script %}
    <!--GOOGLE PLUS SIGN IN PRE-REQUISITES-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
    <script>
        function signInCallback(authResult) {
           // if there is a code received from the google plus
           // login button
          if (authResult['code']) {

            // Hide the google sign in button since
            // the user has already tried to login
            // and should be redirected upon verification of the credentials
            $('#signinButton').attr('style', 'display: none');

            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message
            // to the web page and then redirect back to the main restaurants page
            $.ajax({
              type: 'POST',
              url: '/googlelogin?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                  $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/restaurants";
                 }, 4000);


              } else if (authResult['error']) {

            console.log('There was an error: ' + authResult['error']);
          } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                 }

              }

          }); } }
    </script>
{% endblock %}
{% block body %}
    <!--<form id="loginform" action="{{url_for('login')}}" method="post">
        <label for="loginemail" >Email: </label>
        <input id="loginemail" type="email" name="loginemail">
        <br>
        <label for="loginpassword">Password: </label>
        <input id="loginpassword" type="password" name="loginpassword">
        <input type="submit" form="loginform" value="Log In">
    </form>-->
    <!--GOOGLE SIGN IN BUTTON-->
    <div id="signInButton">
        <!--Profile is being used as scope instead of openid
        because users that have no google plus will not give any username
        or email address. This is according to developers.google.com-->
        <span class="g-signin"
              data-scope="profile email"
              data-clientid="YOUR_CLIENT_ID_IN_HERE"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
        </span>
    </div>
    <div id="result"></div>
{% endblock %}